* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator{
    background-color: rgb(28, 28, 28);
    padding: 10px;
    max-width: 400px;
    border-radius: 16px;
}

input{
    background-color: rgb(53, 52, 52);
    width: 95%;
    height: 15vh;
    font-size: 36px;
    font-weight: 700;
    text-align: right;
    color: #fff;
    margin: 10px;
    border: none;
    outline: none;
    padding: 10px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.clear-btn{
    color: gold;
    font-size: 28px;
    font-family: sans-serif;
}

.special-btn{
    color: brown;
    font-size: 42px;
}

.equality-btn{
    background-color: brown;
    color: white;
    font-size: 32px;
}

.equality-btn:hover{
    background-color: rgb(179, 5, 5);
}

.equality-btn:active{
    background-color: rgb(247, 5, 5);
}

button{
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    background-color: black;
    color: #fff;
    font-size: 24px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: rgb(45, 42, 42);
}

button:active{
    background-color: rgb(95, 90, 90);
}